{% extends 'ratemyview/base.html' %}

{% block content %}
    <h1>addCounsel</h1>
    <br>
    <br>
    <form class="row g-3">
        <div class="col-md-6">
          <label for="fName" class="form-label">First Name</label>
          <input type="fName" class="form-control" id="fName">
        </div>
        <div class="col-md-6">
          <label for="lName" class="form-label">Last Name</label>
          <input type="lName" class="form-control" id="lName">
        </div>
        <div class="col-md-6">
            <label for="firmN" class="form-label">Firm / Practice Name</label>
            <input type="firmN" class="form-control" id="firmN">
          </div>
          <div class="col-md-6">
            <label for="status" class="form-label">Status</label>
            <label for="inputStatus" class="form-label">Status</label>
            <select type="text" class="form-select" id="statusselect">
                <option selected>Select Status</option>
                  <option>Legal Aid</option>
                  <option>Private Attorney</option>
                </select>            
        </div> 
        
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Floor / Suite">
        </div>
        <div class="col-md-4">
            <label for="inputBorough" class="form-label">Borough</label>
            <select type="text" class="form-select" id="boroughselect">
                <option selected>Select Borough</option>
                  <option>Bronx</option>
                  <option>Brooklyn</option>
                  <option>Manhattan</option>
                  <option>Queens</option>
                  <option>Staten</option>
                </select>  
        </div>
          </li>
        <div class="col-md-4">
          <label for="State" class="form-label">State</label>
          <input type="text" class="form-control" id="New York" placeholder="New York">
        </div>
        <div class="col-md-4">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip"placeholder="10001">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Information Submitted Is Current & Accurate To My Knowledge
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Counsel</button>
        </div>
      </form>
{% endblock %}